*{
    padding: 0;
    margin: 0;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: '', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:  10%;
    /* border: 1px solid purple; */
    
}

.banka {
    margin-left: 20px;
    /* border: 1px solid blue; */
}

.features {
    /* border: 1px solid red; */
    padding: 0 20px;
    display: flex;
}

.features > div:nth-child(2) {
    /* border: 1px solid green; */
    /* display: flex; */
    width: 8px;

}

.flex {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
  }


.nav-links {
    display: flex;
    margin-right: 20px;
    padding: 20px;
    font-size: 15px;
    width: 40%;
    /* border: 1px solid red; */
    justify-content: space-around
}

.nav-links a {
    text-decoration: none;
    justify-content: space-around;
    display: inline;
    /* border: 1px solid green; */
    color: black;
}

.s-nav-links {
    display: flex;
    margin-left: 200px;
    /* border: 1px solid blue; */
    width: 20%;
    justify-content: space-around;
  
    
}

.s-nav-links a {
    text-decoration: none;
    color: black
}

.s-nav-links button {
    background-color: yellow;
    border-radius: 12px;
    font-size: 25px;
}

.a-ball, .get-started, .ball-icon {
    background-color: yellow;
    border-radius: 50%;
    
}



.get-started {
    /* border: 1px solid red; */
    padding: 14px;
    border-radius: 15%;
    
}

main {
    display: flex;
}

.main-content {
    margin: 50px;
}

.main-content h1 {
    font-size: 80px;
    font-weight: 100;
}

.main-content p {
    font-size: 20px;
    margin-top: 20px;
}
.main-img {
    background-color: linen;
    background-image: linear-gradient(90deg, yellow, gray);
    /* width: 300px; */
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(9,1,17,1) 64%);
    /* border: 15px solid green; */
    padding: 50px;
    margin: 20px;
    position: absolute;
    height: 300px;
    width: 150px;
    border-radius: 18px;
    /* position: absolute; */
    bottom: 7rem;
    left: 50rem;
    transform: rotate(20deg);
    overflow: hidden;
    z-index: 1;
    color: white;
    font-size: 20px;
   
}

.footer-img{
    /* border: 1px solid green; */
    margin-top:250px;
    height: 25%;
    width: 190px;
    margin-right: 100px;
    background-color: white;
    justify-content: space-between;
    padding: 10px;
    color: #d5d5d5;
    display: flex;
}

footer {
    background-color: rgb(66, 89, 122);
    background-image: linear-gradient(90deg, rgb(66, 89, 122), rgb(54, 29, 54), gray, rgb(66, 89, 122));
    display: flex;
    /* top: -5px; */
    /* left: -5px; */
    padding: 73px;
    color: white;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    z-index: 1;
    /* border: 1px solid red */
}

.footer-one, .footer-two{
    /* z-index: 2; */
    top: -5px;
    left: -5px;
}

footer p {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.897);
}
.footer-two {
    margin-left: 50px;
}

.footer-one h1 {
    display: flex;
}

.arrow-icon {
    /* font-size: 50px; */
    /* margin-bottom: 0px; */
    /* padding: 0 0 90 0px */
    color: yellow;
}

.ball {
    font-size: 50px;
}

.ball-icon {
    font-size: 10px;
    /* border: 1px solid red; */
    /* margin-bottom: 50px */
   
}